<html>
    <head>
        <title>Fifa World Cup</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><a href="/">Home</a></div>
        <hr>
        <div class=container"><br>
        <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
        {% block content %}
        {% endblock %}
        </select>
        </div>
        <br>
        </div>
        </div>
    </body>
</html>