
{% extends "base.html" %}
{% block content %}
     <form action = "{{ url_for('register_coach') }}" method = "POST">
    <h1>Registrar nuevo tenico</h1>
        <p>Equipo<br>
            <select name="team_name" method="GET" action="/">
            {% for team in teams %}
            <option value="{{team}}" SELECTED>{{team}}</option>"
            {% endfor %}
            </select>
        </p>
        <p>Nombre<br>
            <input type="text" name="first_name">
        </p>
        <p>Apellido<br>
            <input type="text" name="lastname">
        </p>
        <p>Fecha de nacimiento<br>
            <input type="date" name="birth_date">
        </p>
        <p>Nacionalidad<br>
            <select name="nationality" method="GET" action="/">
            {% for nationality in nationalities %}
            <option value="{{nationality}}" SELECTED>{{nationality}}</option>"
            {% endfor %}
            </select>
        </p>
        <p>ROL<br>
            <input type="text" name="role">
        </p>
     <input type="submit">
     </form>
{% endblock %}